.header{
   background-color: rgb(165, 73, 73);
   width: 100%;
   height: 100px;
   
}
body{
   margin-left: 20%;
   margin-right: 20%;
   display: block;
   width: 800px;
}

#logo{
   float: left;
   width: 150px;
   height: 100px;
}
.details{
   float: right;
   color: aliceblue;
   float: right;
   margin-right: 25px;
   text-align: right;
   font-size: 15px;
}

li {
   display: inline;
 }

a {
   /* display: block; */
   padding: 8px;
   display: inline;
   color: aliceblue;
   
}

.nav{
   background-color: #6b1515;
   
}

a:hover {
   color: green;
 }

 .header {
   background-color: rgb(206, 91, 91); 
   background-image: linear-gradient(to right, rgb(80, 30, 30) , rgba(223, 119, 51, 0.158));
 }


 ul {
   list-style-type: none;
   margin: 0;
   padding: 0px;
   overflow: hidden;
   background-color: rgb(114, 26, 26);
 }
 
 li {
   float: left;
 }
 
 #spec{
   font-family:Monotype Corsiva;
   font-size: 25px;
 }
 li a {
   display: block;
   color: white;
  font-size:12px;
   text-align: center;
   padding: 10px 15px;
   text-decoration: none;
 }
 
li .bar:hover {
   color: green;
}

 .left{
     float: left;
 }

 .right{
     float: right;
 }

 .sixpic{
     width: 150px;
     height: 100px;
     padding: 5px;
     border: #cfc89f 5px solid;
     border-radius: 5px;
 }

 table,td,tr{
     text-align: center;
 }

.sidebar{
   width: 200px;
   height: 12px;
   padding: 10px;
   background-color: #6b1515;
   display: block;
   border: ivory 2px solid;
   text-decoration: none;
}

.sidebar:hover{
   background-color: gray;
   color: green;
}

.intro{
   float: left;
   margin-top: 0%;
}

.foot{
   background-color: #6b1515;
   display: block;
   width: 100%;
   height: 30px;
   margin-top: 70%;
   color: aliceblue;
   font-size: 15px;
}

.para{
   text-align: justify;
}
.footer{
   margin-left: 10%;
   font-size: 15px;
}