.d{
            
    margin-left: 300px;
    margin-right: 100px;
    margin-top:50px;
    height: 35px;
    background:black;
    word-spacing: 10px;
    color: white;
 
         }
         .nav{
             margin-left: 300px;
            margin-right: 100px;
 
         }
         .ab{
 
             color: white;
             text-decoration: none;
             padding-top:5px;
             padding-left: 30px;
             padding-right:30px;
             padding-bottom: 18px;
             text-align: center;
         }
         a:hover{
             background-color:grey;
         }