.al{
    border-style:solid;
    height:200px;
    margin-top: 60px;
    width: 180px;
}
.img{
    height:275px;
    width: 960px;

}
.mydiv{
            
border:1px; 
border-width: 100% 100%;
margin-left: 100px;
margin-right: 100px;

}



