body {
	margin: 0;
}
ul{
	text-decoration:none ;
	text-decoration-style: none;
	list-style: none;
}
.col-12 col-md-6{
	font-family:'Times New Roman', Times, serif;
}
.imgg{
	width: 100px;
	height: 120px;
}