.al{
    border-radius:15px;
    height:160px;
    width: 210px ;
    
    
    
}
.font{
    font-family: "Monotype Corsiva";
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
}
.img{
    height:150px;
    width:240px;
    
}
.mydiv{
    border:1px solid black; 
    border-width: 100% 100% 100% 100%;

    margin-left: 100px;
    margin-right: 100px;
}
    



