*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.c1{
  border: 1px solid red;
  padding: 30px;
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  flex-direction: column;
  border-radius: 20px;
}
#id1{

  border: 1px solid red;
 padding: 30px;

  margin-left: 20%;
  margin-right: 20%;
  flex-direction: column;
  border-radius: 20px;
  
  
}

#id3{
  float:left;
   width:60px;
   height:60px;
}
